%h1 Welcome#index
%p Find me in app/views/welcome/index.html.haml
= link_to 'Load', :controller => "welcome", :action => "loader"
= simple_form_for :stick, url: welcome_builder_path  do |f|
  .panel-body
    = f.collection_select :destination_id, Destination.order('path ASC'), :id, :path
  = f.button :submit, class: "btn btn-primary"